.loader-wrap {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  flex-grow: 1;
  flex-shrink: 1;

  &_loader {
    background-image: url('../img/bg-earth.png');
  }

  &_login {
    background-image: url('../img/login-bg-earth.png');
  }
}