extends layouts/_loader-layout.pug

include components/loader-status-icon.pug

block append vars
  -
    title = 'Loader';

block loaderContent
  .ta-center
    +loader-status-icon
    p.tt-uppercase.
      connecting...
