extends layouts/_login-layout.pug

include components/input.pug
include components/button.pug

block append vars
  -
    title = 'Login';
    var inputList = [
      {
        title: 'email',
        type: 'email',
        iconSrc: 'img/icon-email.svg'
      },
      {
        title: 'Password',
        type: 'password',
        iconSrc: 'img/icon-lock.svg'
      }
    ]

block loaderContent
  +login-head('Login', {text: 'Create account', href: '', iconSrc: 'img/icon-key.svg', iconAlt: ''})
  each item in inputList
    +input(item.title, {iconSrc: item.iconSrc})(required="true", pattern=".*[^ ].*", type=item.type)
  +styled-button('a', {iconSrc: 'img/icon-continue.svg'})(href='').d-block.
    login
