doctype html

include ../common/variables.pug

include ../components/icon.pug

include ../components/mobile-wrap.pug
include ../components/mobile-content.pug
include ../components/mobile-container.pug
include ../components/footer.pug
include ../components/pages.pug


block init
block vars


html
  head
    meta(charset="utf-8")
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
    title #{title}
    link(href="favicon.png", rel="icon", type="image/png", sizes="16x16")
    link(href="styles/main.css?v=" + Date.now(), rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500" rel="stylesheet")
  body
    //- include ../sprite/sprite.pug
    +pages
    +mobile-wrap
      +mobile-content(contentBg)
        block content
      if footer
        +footer(version, {slogan: footer.slogan})
    script(src="scripts/app.js?v=" + Date.now())
