extends _default-layout.pug

include ../components/loader-content.pug
include ../components/metawallet-logo.pug
include ../components/loader-message.pug

block append vars
  -
    var message = false;


block content
  +mobile-container
    +loader-content
      if message
        +loader-message(message)
      +metawallet-logo.loader__metawallet-logo
      block loaderContent