extends _loader-layout.pug

include ../components/button.pug

block append vars
  -
    footer.slogan = false;
    contentBg = 'login-earth';

mixin login-head(title, button={text: '', href: '', iconSrc: '', iconAlt: ''})
  -
    var {text, href, iconSrc, iconAlt} = button;
  .login__head
    p.text-light-xxxl.mb-0
      != title
    +button-small({tag: 'a', type: 'primary', iconSrc: iconSrc})(href=href)
      != text